  <h1>Bienvenido <%= current_user.username %> </h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <%= link_to 'Salir', destroy_user_session_path,  method: :delete %>
  <a> <%= link_to 'Check List', controller: 'lists' %> </a>
  <a> <%= link_to 'Edit Profile', edit_user_registration_path %> </a>

  <% if current_user.profile_image.attached? %> <br/>
    <%= image_tag current_user.profile_image, style: 'height:100px; width:100px' %>
  <%end%>
